# Use root/example as user/password credentials
version: '3.1'

services:
  mongo:
    container_name: mongodb
    image: mongo
    restart: always
    ports:
    - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: mydb
    volumes: 
      - ./mongo/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
      - ./mongo/db:/data/db
  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_BASICAUTH_USERNAME: expuser
      ME_CONFIG_BASICAUTH_PASSWORD: expppw
      ME_CONFIG_MONGODB_SERVER: mongodb
  app:
    container_name: app
    restart: always
    build: ./node-app
    ports:
      - '80:3000'
